.danger {
	color: #ff471a;
}

.current {
	margin-top: 0.5rem;
	border-bottom: 2px solid $secondary-color;
}

.lead {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.heading {
	&-primary {
		font-size: 4rem;
		color: $primary-color;
		margin-bottom: 2rem;
	}
}

.move-in-bottom {
	animation: moveInBottom 1s ease-out 1s backwards;
}

.move-in-top {
	animation: moveInTop 1s ease-out 1s backwards;
}
