.container {
	max-width: $content-box;
}

.danger {
	color: #ff471a;
}

.current {
	border-bottom: 1px solid;
	border-color: #fff;
}

.lead {
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.heading {
	&-primary {
		font-size: 4rem;
		color: $primary-color;
		margin-bottom: 2rem;
	}
}

.move-in-bottom {
	animation: moveInBottom 1s ease-out 1s backwards;
}

.move-in-top {
	animation: moveInTop 1s ease-out 1s backwards;
}
